@media screen and (max-width: 425px) {
  .ContactContainer {
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    padding: 10%;
    transition: all 1.4s ease-in-out;
  }
  .ContactContainer h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .ContactContainer h4 {
    font-size: 1rem;
  }
  .ContactContainer p {
    font-size: 0.8rem;
  }

  /* name and email style */
  .NameEmail {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .NameEmail input {
    width: 50%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    text-align: center;
  }
  .NameEmail input::placeholder,
  textarea::placeholder {
    font-size: 1rem;
    padding-left: 0.5rem;
    color: lightgrey;
  }

  /* textarea */

  .ContactFrom textarea {
    margin-top: 5%;
    resize: both;
    overflow: auto;
    height: fit-content;
    padding: 10px;
    width: 100%;
    border: 1px solid lightgrey;
  }

  /* input type file */
  .ContactFrom input[type="file"] {
    margin: 10px 0px;
  }

  .ContactFrom button {
    background-color: #e9967a;
  }
  .ContactContainer .popUp {
    display: none;
  }
}

/* for tablet or laptop */
@media screen and (min-width: 426px) {
  .ContactContainer .popUp {
    display: block;
    text-align: center;
    margin: 20px;
  }
  .ContactDetail,
  .ContactFrom {
    display: none;
  }
}
