.Header{
 margin: 0;
 left: 0;
 right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 30px;
  font-weight: 900;
  background-color: grey;
  gap: 7rem;
  height: 70px;
  align-items: center;
  overflow-x: hidden;
  min-width: 380px;
  
  position: fixed;
  width: 100%;
  top: 0px;


}
.Header a{
  text-decoration: none;
  color: black;
  transition: all .5s ease-in-out;
  padding: 8px;
  border-radius: 5px;
}


@media screen  and (max-width: 1024px)  {
  .Header {
    
    flex-wrap: nowrap;
    overflow-x: hidden;
    font-size: 20px;
    gap: 2.5rem;

  }
  @media screen and (min-width:380px) {
    .Header {
      
      
      background-color:darksalmon;
      gap: 1rem;   
      min-width: 380px;
      padding-left: 2px;
    }
  
  }

}
