.Header{
 margin: 0;
 left: 0;
 right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 30px;
  font-weight: 600;
  background-color: silver;
  gap: 6rem;
  height: 50px;
  align-items: center;
  
  min-width: 464px;
  
  position: fixed;
  width: 100%;
  top: 0px;


}
.Header a{
  text-decoration: none;
  color: black;
  transition: all .5s ease-in-out;
  padding: 8px;
  border-radius: 5px;
}


@media screen  and (max-width: 1024px)  {
  .Header {
    
    flex-wrap: nowrap;
    overflow-x: hidden;
    font-size: 20px;
    gap: 2.5rem;

  }
  @media screen and  (max-width:600px) {
    .Header {
    
      background-color:darksalmon;
       gap: 20px;
       font-size: medium;
       min-width: 464px;
      justify-content: center;
      padding-left: 2px;
      
    }
  
  }

}
