.IntroWrapper{
  padding: 70px 130px;
  display: flex;
  column-gap: 70px;
  min-width: 110px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  min-width: 380px;
  font-family: 'Playfair Display';
}


@media screen and (min-width: 1300px) and (max-width: 2100px) {
  .IntroWrapper {
    padding: 70px 300px;
  }
  .ImageWrapper img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 1024px) {
  .IntroWrapper {
    padding: 70px 130px;
    display: flex;
    column-gap: 70px;
  }

  @media screen and (max-width: 1000px) {
    .IntroWrapper {
      padding: 70px;
      flex-direction: column-reverse;
      row-gap: 20px;
      align-items: center;
    }
    .TextWrapper {
      text-align: center;
      align-items: center;
    }
  }
  
}